<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>8c13b27de334f1272afce792107c5c97e1569160d005bc1b34c4748e5e065e07</key>
			<integer>5</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>8c13b27de334f1272afce792107c5c97e1569160d005bc1b34c4748e5e065e07</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
